<br>
<br>
<div class="home">
Welcome to rnnOn (pronounced 'run on'). This quick and easy writing exercise displays a random word and you have 60 seconds to write down whatever the word inspires in you. Remember, you only have 60 seconds to write, as rnnOn will auto-save whatever you've written when time runs out.<br><br>
<div class="center"><strong>So start writing!</strong>
<br>
<br>
<a href="/notes/new" class="btn btn-success">Create your rnnOn!</a>
</div>
</div>
