<div class="center">
<%= render 'form' %>

<strong><%= link_to 'Index', notes_path %></strong>
<br>
<br>
<br>
<!--JavaScript code for Motivational Quotes of the Day, http://www.tqpage.com/-->
<script language="javascript" src="http://www.quotationspage.com/data/mqotd.js">
</script>
<!--End JavaScript Quotations code-->
</div>