<div class="center">
<h1>rnnOn</h1>
<p>Welcome to rnnOn (pronounced 'run on').  This quick and easy writing exercise displays a random word and you have 60 seconds to write down whatever the word inspires in you.  Remember, you only have 60 seconds to write, as rnnOn will auto-save whatever you've written when time runs out.
So start writing!</p>
<br>
<%= render 'form' %>

<%= link_to 'Index', notes_path %>
<br>
<!--JavaScript code for Motivational Quotes of the Day, http://www.tqpage.com/-->
<script language="javascript" src="http://www.quotationspage.com/data/mqotd.js">
</script>
<!--End JavaScript Quotations code-->
</div>